.product-filter {
	line-height: 1;
	label {
		padding: 0.5rem 0;
	}
	.custom-control {
		padding-left: 0;
		color: inherit;
		font-size: 1rem;
		line-height: 1.5rem;
		min-height: auto;
	}
	.custom-control-label:after,
	.custom-control-label:before {
		border-radius: 0;
		left: -2rem;
		width: 1.5rem;
		height: 1.5rem;
	}
	.form-group {
		margin-top: 2.5rem;
		&:first-child {
			margin-top: 0;
		}
	}
	.sort-settings {
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	.filter-buttons {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 1rem;
		.btn {
			&:hover {
				border-color: $blue-dark;
				background-color: $white;
			}
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	.filter-section__heading {
		@include heading-style-minimal($font-size: 0.75rem, $color: $blue-dark);
	}
}
.filter-settings {
	height: 0;
	transform: scaleY(0);
	transform-origin: top;
	&.active {
		height: auto;
		transform: scaleY(1);
		transition: transform 0.3s ease-in-out;
		padding: 1rem;
	}
}
.filter-settings {
	@include media-breakpoint-up(lg) {
		height: auto;
		transform: scaleY(1);
	}
}
