.product-cart-item {
	position: relative;  //Tells the heart icon where to sit on mobile.
	display: table-cell; //Tells the heart icon where to sit on mobile.
	@include media-breakpoint-up(md) {
		display: table-row;
	}
	h4.title,
	.h4.title {
		font-size: 0.75rem;
		margin: 0 1rem $table-cell-padding; //Right margin allows room for absolute heart icon.
		@include media-breakpoint-up(md) {
			margin: 0;
		}
	}
	td {
		vertical-align: middle; //This overides .table td style.
	}
}
.product-cart-item__name {
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;
	}
}
.product-cart-item__image {
	display: inherit;
	float: left;
	margin: 0;
	margin-right: 0.5rem;
	@include media-breakpoint-up(md) {
		align-items: center;
		display: flex;
	}
	&.img-sm {
		box-sizing: content-box; //Needed to ignore padding when sizing.
		height: 80px;
		width: 80px;
		@include media-breakpoint-up(md) {
			height: 42px;
			width: 42px;
		}
		img { //So we can remove card-product class.
		    height: 100%;
		    width: 100%;
		    max-height: inherit;
		}
	}
}
.product-cart-item__quantity {
	float: right;
	max-width: 130px;
	@include media-breakpoint-up(md) {
		float: none;
	}
	@include media-breakpoint-up(lg) {
		padding-top: $table-cell-padding;
	}
}
.product-cart-item__trash .btn-trash { // Aligns icon with table.
	@include media-breakpoint-up(md) {
		position: initial;
	}
}
.product-cart-list {
	.btn-wrapper {
		margin-top: 1rem;
		text-align: center;
		@include media-breakpoint-up(md) {
			margin-top: 3rem;
			text-align: right;
		}
	}
	tbody tr.product-cart-item__alert td {
		border: 0;
		display: table-cell; //Overrides responsive table mixin
		padding: 0;
		small {
			color: $gray-med;
			background-color: $accent;
			display: block;
			padding: 0.5rem;
			margin: .75em;
		}
	}
	tbody tr.has-alert {
		border-bottom: 0;
	}
	//Begin responsive styles
	@include responsive-tables;
	.product-cart-item__initial-cost { //Removes initial-cost from mobile view.
		display: none; 
		@include media-breakpoint-up(md) {
			display: table-cell;
		}
	}
    thead tr { //Hack to get border to show.
		@include media-breakpoint-up(md) {
            position: relative;
            &:last-child:after {
                content: '';
            }
        }
    }
    tbody { //Needed for right borders to show.
        display: block;
		@include media-breakpoint-up(md) {
		    display: table-row-group;
		}
    }
	tbody tr { //Starts desktop styles sooner than responsive mixin.
		padding: $table-cell-padding;
		@include media-breakpoint-up(md) {
			padding: 0;
		}
		&:after { //Needed for full padding-bottom to show.
			content: "";
			display: block;
			clear: both;
			width: 100%;
		}
		td { 
			display: inline;
			padding: 0;
			@include media-breakpoint-up(md) {
				display: table-cell;
				border-top: 0;
				padding: $table-cell-padding;
			}
		}
	}
}