.product-sort {
	padding: 0 8px 1rem;
	text-align: left;
	.btn {
		@include heading-style-minimal($font-size: 0.75rem, $color: $gray);
		height: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border * 2} + 2px);
		padding: $input-padding-y $input-padding-x;
		&:hover {
			border-color: $blue-dark;
			background-color: $white;
		}
		.btn-sort--title {
			margin-right: 0.25rem;
		}
		.icon.icon-arrow {
			transform: rotate(90deg);
			polyline {
				stroke: $red;
			}
		}
	}
	.sort-settings {
		height: 0;
		list-style: none;
		transform: scaleY(0);
		transform-origin: top;
		&.active {
			height: auto;
			transform: scaleY(1);
			transition: transform 0.3s ease-in-out;
			padding: 1rem;
		}
		@include media-breakpoint-up(lg) {
			border: solid $btn-border-width $gray-light;
			border-radius: 0 0 $btn-border-radius $btn-border-radius;
			background-color: $white;
			margin-top: -3px;
			position: absolute;
			z-index: 999;
			width: calc(100% - 2rem);
		}
		a {
			color: inherit;
			text-decoration: none;
			display: block;
			transition: color 0.25s ease-in-out, font-size 0.15s ease-in-out, font-weight 0.25s ease-in-out;
			@include media-breakpoint-up(lg) {
				padding: 0;
			}
			&:hover,
			&.active {
				color: $blue-dark;
				font-weight: 700;
			}
		}
	}
}
.product-sort.product-sort--list-style {
	@include media-breakpoint-up(lg) {
		padding: 0;
		.btn-sort {
			display: none;
		}
	}
	.sort-settings {
		@include media-breakpoint-up(lg) {
			@include heading-style-minimal($font-size: 0.75rem, $color: $gray);
			font-size: 0.85rem;
			border: 0;
			height: auto;
			position: relative;
			transform: none;
			width: 100%;
		}
		a {
			display: flex;
			align-items: center;
			min-height: 1.75rem;
			//Prevents transition from moving content on the right.
			@include media-breakpoint-up(lg) {
				margin: 0.25rem 0;
			}
			&.active {
				color: $primary;
				font-size: 1rem;
				&:before {
					background-color: $red;
					content: "";
					display: inline-block;
					margin-right: 12px;
					height: 2px;
					width: 30px;
					vertical-align: middle;
					position: relative;
				}
			}
		}
	}
}
