.sidebar {
	border: $border-width solid $border-color;
	border-top: 0;
    @include media-breakpoint-up(lg) {
		background: $white;
		max-width: 265px;
	}
    .menu-item-has-children > .nav-link {
        border-top: $border-width solid $border-color;
		&:after {
			right: 1em;
			top: calc(50% - 3px);
			position: absolute;
		}
    }
	.sub-menu {
		border: 0;
		.nav-item {
	        a {
	            @include link-color($primary);
			}
		}
	}
}