.questions-card {
	margin-bottom: -16px;
	@include media-breakpoint-up(md) {
		justify-content: space-between;
		align-items: center;
	}
}

.questions-card--title {
	margin-bottom: 1rem;
}
.questions-card--buttons {
	.button-group .button-col {
		@include media-breakpoint-up(sm) {
			margin: 0.5rem;
		}
	}
}
