.mini-cart {
	border: 0;
}
.mini-cart-header,
.mini-cart-footer {
	text-align: center;
	padding: 1rem 0.5rem;
}
.mini-cart-header > span:first-child {
	&:after {
		content: "\0000A0";
	}
}
.mini-cart-footer {
}

.mini-cart-contents {
	padding: 0.5rem;
}
.modal {
	@include media-breakpoint-down(lg) {
		margin-top: $mobile-nav-sticky-height;
	}
}
