.product-large {
	.img-wrap {
		max-height: 136px;			
		max-height: 225px;
		@include media-breakpoint-up(sm) {
			margin: 1rem 1rem 0;
		}
	}
	.info-wrap {
		padding: 10px;
		@include media-breakpoint-up(sm) {
			padding: 1rem;
		}
	}
	.title {
		margin-top: 0;
	}
	.price {
		margin-right: 0;
	}
	@include media-breakpoint-up(sm) {
		.promo-badge {
			top: 27px;
		}
		.btn-wishlist-heart {
			top: 1rem;
			right: 1rem;
		}
	}
}
