// Labels

label:not(.custom-control-label),
legend {
	@include type-style-small-caps;

	margin-bottom: $label-margin-bottom;

	font-size: $label-font-size;
	font-weight: $label-font-weight;

	color: $label-color;

	text-transform: uppercase;
}

// Inputs

// Input type="number"

input[type="number"] {
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// Input type="file"

input[type="file"] {
	height: auto;
	padding: $input-padding-y 0;
	font-family: $input-font-family;
	@include font-size($btn-font-size);
	font-weight: $font-weight-bold;
	line-height: $input-line-height;

	color: $input-color;
	background-color: $input-bg;
	// background-clip: padding-box;
	// border: $input-border-width solid $input-border-color;

	@include border-radius($input-border-radius, 0);

	@include box-shadow($input-box-shadow);
	@include transition($input-transition);
}

input[type="file"] {
	&::-webkit-file-upload-button {
		@include btn-bootstrap;
		@include btn-additions;

		@include button-size(
			$btn-padding-y-sm,
			$btn-padding-x-sm,
			$btn-font-size-sm,
			$btn-line-height-sm,
			$btn-border-radius-sm
		);

		@include button-outline-variant($primary);
	}
	@include hover-focus-active() {
		cursor: pointer;

		&::-webkit-file-upload-button {
			@include button-variant($primary, $primary);
		}
	}
}

// Inputs with Icons

.input-group-prepend,
.input-group-append {
}
.input-group--minimal {
	.input-group-prepend,
	.input-group-append {
		background-color: $input-bg;

		> .input-group-text {
			background-color: transparent;
		}
	}
	.input-group-prepend {
		> .btn,
		> .input-group-text {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right-width: 0;
		}
		> .input-group-text {
			padding-right: 0.25rem;
		}
	}
	.input-group-append {
		> .btn,
		> .input-group-text {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-width: 0;
		}
		> .input-group-text {
			padding-left: 0.25rem;
		}
	}
	> .form-control:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left-width: 0;
	}
	> .form-control:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right-width: 0;
	}
}

// Radios / Checkboxes

// Color Picker Radio Buttons
.color-picker {
	margin-right: 8px;
	padding-left: 1rem;
	.custom-control-label:after,
	.custom-control-label:before {
		left: -1rem;
	}
}

// Selects

select option[disabled="disabled"] {
	@include descriptive-text;
}
select,
select.form-control {
	height: calc(
		#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border * 2} + 2px
	); //Added to help with font difference.
	&:not([multiple]) {
		background: url('data:image/svg+xml;utf8,<svg class="icon icon-expand" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="%23c9c9c9" points="8 12 16 20 24 12"></polygon></svg>')
			no-repeat right 0.4rem center/8px 10px #ffffff;
		background-size: 1.5em;
	}
	padding: $input-padding-y 1.75rem $input-padding-y $input-padding-x;
	appearance: none;
	border-style: solid;
}

select:not([multiple]):not([size]),
select:not([multiple]):not([size]).form-control {
	@include type-style-small-caps;

	font-size: $select-font-size;
	font-weight: $select-font-weight;

	color: $select-color;

	text-transform: uppercase;
}
//label:not(.sr-only) ~ select:not([multiple]):not([size]) {
//	@include heading-style-minimal($font-size: 0.75rem, $color:: input-color);
//}
