// @todo Un-nest as much as possible

.single-post {
	.hero-container {
		padding-bottom: 0;

		&.has-hero-image {
			@include media-breakpoint-up(md) {
				box-shadow: inset 20px 0 0 #fff, inset -20px 0 0 #fff, inset 0px -100px 0 #fff;
			}
		}
		.row {
			justify-content: center;
		}
		.hero--full-image {
			@include media-breakpoint-up(md) {
				@include make-col(10);
			}
			.img-wrap {
				height: auto;
				@include media-breakpoint-up(md) {
					box-shadow: $box-shadow;
					height: 500px;
					img {
						box-shadow: none;
						height: 100%;
						width: 100%;
					}
				}
			}
			@include media-breakpoint-down(sm) {
				.img-wrap {
					box-shadow: none !important;
				}
			}
		}
	}
	.blog--page-content {
		text-align: left;

		@include media-breakpoint-down(xs) {
			padding-top: 0;
			padding-bottom: 0;
			.blog--headline {
				margin-bottom: 2rem;
				@include background-texture;
				.heading-style-minimal {
					margin-bottom: 0.75rem;
				}
			}
		}

		.wp-block-quote {
			// @todo This should live in elements.blockquotes
			line-height: 1.25;
			padding: 0 8.33333%;
			position: relative;
			text-align: center;
			p {
				color: $black;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.25rem;
				margin-bottom: 0;
				position: relative;
				&:before,
				&:after {
					content: url('data:image/svg+xml; utf8, <svg class="icon icon-quotes" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgb(247, 243, 239)" d="M32,24.5834046 C32,28.0906758 29.3139629,30.5714286 25.5367232,30.5714286 C21.0879742,30.5714286 17.1428571,26.8075278 17.1428571,20.8195038 C17.1428571,14.3182207 23.1864407,7.21813516 29.9854722,2 L31.3284907,3.45423439 C28.054883,6.87596236 24.9491525,12.3507271 24.8652139,16.2001711 C29.3979015,18.6809239 32,21.1616766 32,24.5834046 Z M14.8571429,24.5834046 C14.8571429,28.0906758 12.1711057,30.5714286 8.39386602,30.5714286 C3.94511703,30.5714286 0,26.8075278 0,20.8195038 C0,14.3182207 6.04358354,7.21813516 12.842615,2 L14.1856336,3.45423439 C10.9120258,6.87596236 7.8062954,12.3507271 7.72235674,16.2001711 C12.2550444,18.6809239 14.8571429,21.1616766 14.8571429,24.5834046 Z"></path></svg>');
					height: 32px;
					position: absolute;
					width: 32px;
					z-index: -1;
				}
				&:before {
					left: -40px;
				}
				&:after {
					right: -40px;
					transform: rotate(180deg);
				}
			}
			cite {
				font-size: 0.875rem;
				font-style: normal;
				strong:before {
					content: "- ";
				}
			}
		}
		.wp-block-pullquote {
			border-left: 2px $teal solid;
			font-style: italic;
			text-align: left;
			padding: 0 0 0 1rem;
			p {
				font-size: $font-size-base;
				line-height: $line-height-base;
			}
		}
	}
}
.blog--headline-separator {
	&:before {
		content: " | ";
		@include media-breakpoint-down(xs) {
			content: "\A";
			white-space: pre;
		}
	}
}

.single-post section.blog--page-content {
	padding-bottom: 1.5rem;
}

.blog--post-nav {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;

	padding-top: 3rem;
}
.blog--post-nav-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;

	padding-top: 1rem;
	padding-bottom: 1rem;

	flex-basis: 50%;
	min-width: min(40ch, 100%);
	max-width: 100%;
}
.blog--post-nav-item--previous {
	margin-right: auto;
	text-align: left;
	justify-content: flex-start;
	padding-right: 1rem;
}
.blog--post-nav-item--next {
	margin-left: auto;
	text-align: right;
	justify-content: flex-end;
	padding-left: 1rem;
}

.blog--post-nav-item-text-wrap {
	line-height: $headings-line-height;

	> * {
		margin-bottom: 0.5rem;
	}
}
.blog--post-nav-item--title {
	font-weight: $font-weight-strong;
}
